@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

html{
  color: #616161 ;
}

.cardPosition{
  margin-top: 60px;
}



.information p {
  font-size: 18px;
}

.about{
  margin-top: 15px;
}

.about p{
  font-size: 18px;
}

.card-action{
  font-size: 18px;
  color: #00695c ;
}

.about h2{
  padding-bottom: 20px;
}